/* SMALLER DASHBOARD CARDS */
.dashboard-grid {
    gap: 10px;
}

.dashboard-card {
    padding: 5px;
    border-radius: 10px;
    max-height: 180px;
}

/* SMALLER CARD HEADER */
.card-header {
    margin-bottom: 3px;
    padding-bottom: 2px;
}

.card-title {
    font-size: 8px;
}

    .card-title i {
        font-size: 8px;
    }

.card-badge {
    font-size: 6px;
    padding: 1px 3px;
}

/* SMALLER CHART */
.chart-container {
    min-height: 60px;
}

canvas {
    max-height: 50px;
}

/* SMALLER CALENDAR */
.calendar-container {
    min-height: 70px;
    font-size: 7px;
}

.fc {
    font-size: 7px;
}

    .fc .fc-toolbar-title {
        font-size: 0.6em;
    }

    .fc .fc-daygrid-day {
        height: 12px;
    }

    .fc .fc-daygrid-day-number {
        font-size: 6px;
    }

    .fc .fc-button-primary {
        padding: 1px 3px;
        font-size: 6px;
    }

    .fc .fc-event {
        font-size: 4px;
        line-height: 6px;
    }
